mat-card {
    padding: 3% !important;
    font-size: medium;
}

ul > li {
    text-align: left;
}

@media screen and (max-width: 1400px) {
    mat-card {
        padding: 1% !important;
        font-size: x-small !important;
    }
}

@media screen and (max-width: 742px) {
    mat-card {
        width: 100% !important;
        height: fit-content !important;
        padding: 0% !important;
        font-size: xx-small !important;
    }

    mat-card-content {
        padding: 0;
    }

    ul {
        width: 100%;
        padding: 0 !important;
        list-style-type: none;
    }
}
