<mat-card>
    <mat-card-title>
        <h2>{{ 'PRODUCTS.RECIPE_HEADER' | translate }}</h2>
        <mat-divider></mat-divider>
        <h3>{{ 'PRODUCTS.P1T4.NAME' | translate }}</h3>
    </mat-card-title>
    <mat-card-content>
        <ul>
            <li>{{ 'PRODUCTS.P1T4.STEPS.1' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T4.STEPS.2' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T4.STEPS.3' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T4.STEPS.4' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T4.STEPS.5' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T4.STEPS.6' | translate }}</li>
        </ul>
    </mat-card-content>
</mat-card>
