mat-toolbar {
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Protest Guerrilla', sans-serif;
    border-bottom: 5px solid #000;
    justify-content: left;
}

.logoForPC {
    width: 8rem;
    margin: 1%;
}

.appTitleForPC {
    margin-left: 1%;
    font-size: xx-large;
}

.systemDate {
    margin-left: auto;
}

.logoForMobiles {
    width: 4rem;
    margin: 1%;
}

.appTitleForMobiles {
    margin-left: 1%;
    font-size: small;
}

main {
    width: 100%;
    color: #fff;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
}

footer {
    width: 100%;
    display: flex;
    font-size: xx-large;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    align-items: center;
    font-family: 'Protest Guerrilla', sans-serif;
    padding-bottom: 10px !important;
    justify-content: center;
}

@media screen and (max-width: 610px) {
    footer {
        font-size: larger;
    }
}

footer b {
    padding-left: 5px;
}
