<mat-card>
    <mat-card-title>
        <h2>{{ 'PRODUCTS.RECIPE_HEADER' | translate }}</h2>
        <mat-divider></mat-divider>
        <h3>{{ 'PRODUCTS.P1T1.NAME' | translate }}</h3>
    </mat-card-title>
    <mat-card-content>
        <ul>
            <li>{{ 'PRODUCTS.P1T1.STEPS.1' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.2' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.3' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.4' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.5' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.6' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.7' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.8' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.9' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.10' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.11' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.12' | translate }}</li>
            <li>{{ 'PRODUCTS.P1T1.STEPS.13' | translate }}</li>
        </ul>
    </mat-card-content>
</mat-card>
