/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
    width: 60% !important;
    color: #000 !important;
    height: fit-content !important;
    border: 4px solid #000 !important;
    display: flex !important;
    padding: 5% !important;
    font-size: large;
    text-align: center !important;
    font-weight: bold !important;
    margin-left: auto !important;
    align-items: center !important;
    margin-right: auto !important;
    justify-content: center;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

ul > li {
    text-align: left;
}

@media screen and (max-width: 742px) {
    mat-card {
        width: 100% !important;
        font-size: small !important;
        /* padding: 0 !important; */
    }

    ul {
        width: 80% !important;
    }

    ul > li {
        margin-bottom: 6px;
    }
    .riddleContent {
        display: block !important;
    }
}
