/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
    width: 80% !important;
    color: #000 !important;
    height: fit-content !important;
    border: 4px solid #000 !important;
    display: flex !important;
    padding: 3% !important;
    font-size: xx-large;
    font-weight: bold !important;
    margin-left: auto !important;
    align-items: center;
    margin-right: auto !important;
    justify-content: center;
}

@media screen and (max-width: 1185px) {
    mat-card {
        width: 100%;
        font-size: large;
        text-align: center;
    }
    .riddleContent {
        display: block;
    }
}
