mat-card {
    width: 80%;
    color: #000;
    height: 80vh;
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    justify-content: center;
}

.riddleContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 610px) {
    mat-card {
        width: 100%;
        font-size: small;
        text-align: center;
    }
    .riddleContent {
        display: block;
    }
}
